<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{city}}</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
</head>
<body>
<header class="navbar ">
    <section class="navbar-section">
        <a class="btn bg-secondary btn-block" href="\">Home</a>


    </section>

    <section class="navbar-section">

        {% with messages = get_flashed_messages() %}
        {% if messages %}

        {% for message in messages %}
        <b><a style="font-size: 25px" href="/" class="btn btn-error" aria-label="Close" role="button">{{ message
            }}<i class="icon icon-cross "></i></a></b>

        {% endfor %}

        {% endif %}
        {% endwith %}
        {% block body1 %}{% endblock %}
    </section>

    <section class="navbar-section">
        <div class="col-12 dropdown"><a class="btn bg-secondary btn-block dropdown-toggle" tabindex="0">City List <i
                class="icon icon-caret"></i></a>
            <ul class="menu col-12 bg-secondary">
                {% for city in city_list %}
                <li class="menu-item"><a class="btn btn-block" href="\{{city}}">{{city}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
</header>
<div class="columns">
    <div class="column col-1 "></div>
    <div class="column col-4 ">
        <div class="bg-dark text-center">
            <h1>{{city}}</h1>
            <h3>Top employers</h3>

            <table class="table">
                <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Job Title</th>
                    <th>Anuall Salary(₹)</th>
                    <th>% of Salary to avarge</th>
                </tr>
                </thead>
                <tbody>
                {% for i in result[1]%}
                <tr>
                    {% for k in range(4)%}
                    <td><b>{{i[k]}}</b></td>
                    {% endfor%}
                </tr>
                {% endfor%}
                </tbody>
            </table>

        </div>
        <h3 class="text-center"><b>Avarge annual salary per positon</b></h3>
        <table id="avarge-salary" class="table table-striped">
            <thead>
            <tr>
                <th>Job Title</th>
                <th>Anuall Salary(₹)</th>
            </tr>
            </thead>
            <tbody>
            {% for i in result[0]%}
            <tr>
                {% for k in range(1)%}
                <td><a href="\summaryJ\{{i[k]}}\{{city}}"> {{i[k]}}</a>
                </td>
                <td>{{i[k+1]}}</td>
                {% endfor%}
            </tr>
            {% endfor%}
            </tbody>
        </table>

    </div>

    <div class="column col-6">
        <h3 class="text-center"><b>Recomnded position in each company</b></h3>
        <table id="example" class="table display" style="width:100%">
            <thead>
            <tr>
                <th>Company Name</th>
                <th>Job Title</th>
                <th>Anuall Salary(₹)</th>
            </tr>
            </thead>
            {% for i in result[3]%}
            <tr>
                {% for k in range(1)%}
                <td><a href="\summaryC\{{i[k]}}\{{city}}"> {{i[k]}}</a></td>
                <td>{{i[k+1]}}</td>
                <td>{{i[k+2]}}</td>
                {% endfor%}
            </tr>
            {% endfor%}
        </table>
    </div>
    <div class="column col-1"></div>
</div>
<script>

$(document).ready(function () {
    $('#example').DataTable({
    lengthChange: false,
    pageLength: 17,

    });

});


</script>
</body>
</html>